<div>
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog_hd"><strong class="weui-dialog_title" data-ng-bind="title"></strong></div>
        <div class="weui-dialog_bd"></div>
        <div class="weui-dialog_ft">
            <a href="javascript:;" class="weui-btn_dialog {{btn.class}}"
               data-ng-repeat="btn in buttons"
               data-ng-bind="btn.title"
               data-ng-click="clickBtn(btn)"></a>
        </div>
    </div>
</div>
