<!doctype html>
<html lang="zh-cmn-Hans" data-ng-app="test">
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>angular-WeUI</title>
    <meta name="description" content="">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp wiredep` to automaticaly populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src,test/serve}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automaticaly insert here -->
    <!-- endinject -->
    <!-- endbuild -->
</head>
<body data-ng-controller="TestCtrl as testCtrl">

<a href="javascript:;" class="weui_btn weui_btn_primary" data-ng-click="testCtrl.actionSheet()">Action Sheet</a>
<a href="javascript:;" class="weui_btn weui_btn_disabled weui_btn_primary" data-ng-click="testCtrl.confirm()">confirm</a>
<a href="javascript:;" class="weui_btn weui_btn_warn" data-ng-click="testCtrl.alert()">alert</a>
<a href="javascript:;" class="weui_btn weui_btn_warn" data-ng-click="testCtrl.dialog()">自定义按钮</a>
<a href="javascript:;" class="weui_btn weui_btn_disabled weui_btn_warn" data-ng-click="testCtrl.toastComplete()">Toast 完成</a>
<a href="javascript:;" class="weui_btn weui_btn_default" data-ng-click="testCtrl.toastLoading()">Toast Loading</a>
<a href="javascript:;" class="weui_btn weui_btn_default" data-ng-click="testCtrl.toastMessage()">Toast Message show</a>
<h1>button test</h1>
<a href="javascript:;" class="weui_btn weui_btn_default" data-wu-click="testCtrl.wuButtonTest()">按钮</a>
<a href="javascript:;" class="weui_btn weui_btn_default" wu-interval="2000" wu-click="testCtrl.wuButtonTest1(testCtrl.testVar)">按钮</a>
<h1>wuProgress </h1>
<input type="text" data-ng-model="wuProgress">
<br>
<div wu-progress="wuProgress"></div>
<br>
<div wu-progress="wuProgress" wu-color="'#ff33dd'" wu-height="12"></div>
<br>
<div class="button_sp_area">
    <a href="javascript:;" class="weui_btn weui_btn_plain_default">按钮</a>
    <a href="javascript:;" class="weui_btn weui_btn_plain_primary">按钮</a>

    <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_primary">按钮</a>
    <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_default">按钮</a>
</div>

<!-- build:js({.,src,test/serve}) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp wiredep` to automaticaly populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp/serve,.tmp/partials,src,test/serve}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automaticaly insert here -->
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->

</body>
</html>
